
*.pbxproj

*.xccheckout

*.xcuserstate

Autofill Generator/Autofill Generator.xcodeproj/project.xcworkspace/xcuserdata/lkonishi.xcuserdatad/UserInterfaceState.xcuserstate

Autofill Generator/Autofill Generator.xcodeproj/xcuserdata/lkonishi.xcuserdatad/xcschemes/xcschememanagement.plist
